# Basic Zookeeper configuration
tickTime=2000
initLimit=10
syncLimit=5
dataDir=/var/lib/zookeeper
clientPort=2181
maxClientCnxns=60
4lw.commands.whitelist=stat, ruok, conf, isro
admin.serverPort=9090

# Cluster configuration will be added during deployment
# server.1=<ip>:2888:3888
# server.2=<ip>:2888:3888
# server.3=<ip>:2888:3888